<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamtwo.studyassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".pomodoro.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".pomodoro.CountDownTimerService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name="com.teamtwo.studyassistant.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.teamtwo.studyassistant.Activities.HomeworksActivity"
            android:label="@string/homeworks"
            android:parentActivityName="com.teamtwo.studyassistant.Activities.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.teamtwo.studyassistant.Activities.HomeworksActivity" />

        <activity
            android:name="com.teamtwo.studyassistant.Activities.TeachersActivity"
            android:label="Teachers"
            android:parentActivityName="com.teamtwo.studyassistant.Activities.MainActivity" />
        <activity
            android:name="com.teamtwo.studyassistant.Activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.teamtwo.studyassistant.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtwo.studyassistant.Activities.MainActivity" />
        </activity>
        <activity android:name=".Activities.PomodoroActivity"
            android:parentActivityName=".Activities.MainActivity"/>
        <activity android:name=".pomodoro.PomodoroSettingsActivity"
            android:parentActivityName=".Activities.PomodoroActivity"/>
    </application>

</manifest>